{% extends "admin/change_form.html" %}
{% load static %}


{% block extrastyle %}{{ block.super }}
<!-- Material Icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Npick CSS -->
<link rel="stylesheet" href="{% static 'css/icon-picker.css' %}">
<link rel="stylesheet" href="{% static 'css/unicons-icon-picker.css' %}">
{% endblock %}


{% block footer %}{{ block.super }}
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Npick JS -->
    <script src="{% static 'js/icon-picker.js' %}"></script>
    <script src="{% static 'js/unicons-icon-picker.js' %}"></script>
{% endblock %}
